body{
    background-color: aqua;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: white;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: lightgreen;
}